<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Access Terminal - Login</title>
  <link rel="stylesheet" href="../static/login.css"/>
</head>

<body>
  <main>
    <div class="bg-decorative">
      <div class="bg-blob-top"></div>
      <div class="bg-blob-bottom"></div>
    </div>

    <div class="card-wrapper">
      <div class="login-card">

        <div class="branding">
          <div class="brand-icon">
            <span class="material-symbols-outlined">terminal</span>
          </div>
          <h1 class="brand-title">Blitz Access Terminal</h1>
          <p class="brand-subtitle">System Authentication Required</p>
        </div>
        <div id="google-btn"></div>
      </div>
    </div>
  </main>

  <script>
    const LOGIN_URL = "{{ url_for('login') }}";
    const ADMIN_URL = "{{ url_for('admin') }}";
    //{# const ADMINLITE_URL = "{{ url_for('admin_lite') }}"; #}
    const OPERATIONS_URL = "{{ url_for('operations') }}";
    const SHOP_URL = "{{ url_for('shop') }}";
    const LEADERBOARD_URL = "{{ url_for('leaderboard') }}";
  </script>
  <script src="{{ url_for('static', filename='login.js') }}"></script>
  <script src="https://accounts.google.com/gsi/client"></script>
</body>
</html>